<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pat's Burgers</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
</head>

<body>
    <h1>Pat's Burgers</h1>
    <div>
        <iframe src="https://giphy.com/embed/WSCxT85lKZsge6QZlY" width="480" height="270" frameBorder="0"
            class="giphy-embed" allowFullScreen></iframe>
    </div>

    {{{ body }}}

    <iframe src="https://giphy.com/embed/pZCvWKwehPyUM" width="411" height="480" frameBorder="0" class="giphy-embed"
        allowFullScreen></iframe>
</body>

</html>