<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/burger_styles.css" type="text/css" />
    <title>Pat's Burgers</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <script src="/assets/js/burgers.js"></script>

</head>

<body>
    <h1>Pat's Burgers</h1>
    <div>
        {{!-- <iframe src="https://giphy.com/embed/WSCxT85lKZsge6QZlY" width="480" height="270" frameBorder="0"
            class="giphy-embed" allowFullScreen></iframe> --}}
    </div>

    {{{ body }}}

    <iframe src="https://giphy.com/embed/pZCvWKwehPyUM" width="411" height="480" frameBorder="0" class="giphy-embed"
        allowFullScreen></iframe>

</body>

</html>